*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    --biggest-title-font:Impact;
    --text-font: Helvetica;
    --title-font: Verdana, 'Geneva', Tahoma, sans-serif;
    --div-color: rgba(30,30,46, 0.3);
    --link-active-color:#777;
    --link-color:#993470;
    --link-hover-color:#DD8012;
    --text-color: #ffee99;
    --title-color:#fff;
    --footer-color:rgb(198,240,165);
    --main-background-color: rgb(150,150,230);
    --secondary-background-color:#fa8c1e;
    --tertiary-background-color:#87B979;
    --nav-color: rgba(200, 200, 200, 0.9);
}
body{
    background: var(--main-background-color);
}
nav{
    position: sticky;
    top:0;
    /*will-change: transform;*/
    height: 40px;
    width: 100%;
    background-color:var(--nav-color) ;
    display: flex;
    align-items: center;
    z-index:5;
}
.navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
a{
    color: var(--link-color);
}
a:hover{
    color: var(--link-hover-color);
}

.presentation{
    min-height: 80vh;
    background-color: var(--secondary-background-color);
}
.biggest-title{
    text-align: center;
    font-size: 10rem;
    font-family: var(--biggest-title-font);
    padding-top: 20vh;
    padding-bottom: 100px;
    -webkit-transform: skew(0deg, -15deg);
    transform: skew(0deg, -15deg);
    background-image: linear-gradient(75deg, var(--title-color), var(--main-background-color), var(--footer-color), var(--link-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    text-align: center;
    font-size: 8rem;
    font-family: var(--title-font);
    padding-top: 50px;
    padding-bottom: 50px;
    color: var(--title-color);
}
.texte-presentation{
    position: sticky;
    top:60px;
    /*will-change: transform;*/
}


p{
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 2rem;
}

.texte-presentation{
    padding: 40px;
    margin: 20px;
    background-color: var(--div-color);
}

.projets{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}

.content{
    width: 100%;
    min-height: 60vh;
    padding-left: 5%;
    padding-right: 5%;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

img{
    max-width: 100%;
    max-height : 100%;
}

.content img{
    object-fit: contain;
    width:50%;
}

footer{
    width:100%;
    height: 150px;
    font-size:3rem;
    background-color: var(--footer-color);
    display: flex;
    justify-content: space-around;
}
.arrow-up {
    position: fixed;
    top: 10vh;
    left: 10px;
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid rgba(0,0,0,0.3);
}
.arrow-up:hover{
    border-bottom-color: black;
    cursor: pointer;
}

.arrow-right {
    position: fixed;
    top: 50vh;
    left: 30px;
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid rgba(0,0,0,0.3);
}
.arrow-right:hover{
    border-left-color: black;
    cursor: pointer;
}
.arrow-down {
    position: fixed;
    bottom : 10vh;
    left: 10px;
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid rgba(0,0,0,0.3);
}
.arrow-down:hover{
    border-top-color: black;
    cursor: pointer;
}
@media screen and (max-width: 700px){
    .biggest-title{
        font-size: 4rem;
    }
    h2{
        font-size: 2rem;
    }
    .content{
        display: block;
    }
    .content img{
        width:100%;
    }
    footer{
        font-size: 2rem;
    }
    
}